## Python distingue entre minúsculas y mayúsculas

In [2]:
A = "Backend Python"
print("El curso es:", A)

El curso es: Backend Python

### Python tiene algunas palabras reservadas

In [3]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

### Caracteres de Escape en Python

In [6]:
"\'" #single quote / comiilla sencilla

"'"

In [5]:
"\"" #double quote / comilla doble

'"'

In [7]:
"\n" # New line /salto de línea

'\n'

In [8]:
my_course = "backend Python"
print(my_course)

backend Python

In [9]:
my_course = "Mi curso es \nBackend Python"
print(my_course)

Mi curso es
backend Python

In [10]:
"\t" # Tab

'\t'

In [12]:
my_course = "Mi curso es \n\tBackend Python"
print(my_course)

Mi curso es
	Backend Python

In [13]:
"\r" # carriage return / retorno de carro

'\r'

In [14]:
my_course = "Mi curso es \rBackend Python"
print(my_course)

Backend Python

In [17]:
"\b" # Backspace / Retorno

'\x08'

In [18]:
my_course = "Mi curso es \bBackend Python"
print(my_course)

Mi curso esBackend Python

In [19]:
"\ooo" #octal

'\\ooo'

In [20]:
hello_spanish_octal = "\110\157\154\141"
print(hello_spanish_octal)

Hola

In [22]:
#"\xhh" Hexadecimal

In [23]:
hello_spanish_octal = "\x48\x6f\x6c\x61"
print(hello_spanish_octal)

Hola

## Función eval()

In [24]:
my_number = 22
print("my_number+1000")

my_number+1000

In [25]:
my_number = 22
print(eval("my_number+1000"))

1022

In [26]:
my_input = input("ingresa un numero: ")

ingresa un numero: 123

In [27]:
my_input

'123'

In [28]:
my_input = eval(input("ingresa un numero: "))
print(my_input)
print(type(my_input))

ingresa un numero: 154
154
<class 'int'>

## Función range() y rangex()

### range(start, stop, step)

In [33]:
x = range(10)

In [34]:
x

range(0, 10)

In [35]:
for number in x:
    print(number)

0
1
2
3
4
5
6
7
8
9

In [36]:
x = range(3,6)
for number in x:
    print(number)

3
4
5

In [37]:
x = range(3,10, 2)
for number in x:
    print(number)

3
5
7
9

## Mutabilidad e Inmutabilidad

In [4]:
tuple1 = (1, 2, 3, 4, 5)

In [5]:
tuple1

(1, 2, 3, 4, 5)

In [6]:
tuple[0] = 10

TypeError: 'type' object does not support item assignment

In [7]:
my_string = "Aprendiendo sobre mutabilidad"

In [8]:
my_string

'Aprendiendo sobre mutabilidad'

In [9]:
my_string[0] = "a"

TypeError: 'str' object does not support item assignment

In [10]:
colors = ["red", "blue", "green", "white"]
colors

['red', 'blue', 'green', 'white']

In [11]:
colors[0] = "rojo"
colors

['rojo', 'blue', 'green', 'white']

## Función print()

In [12]:
# mostrar un resultado

In [13]:
my_variable = 567
print("El valor de la celda es", my_variable)

El valor de la celda es 567

In [1]:
a = 10
b = 15
c = 20
result = a + b + c
print("el rsultado es ", result)

el rsultado es  45

In [3]:
import builtins

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## Función type()

In [6]:
my_number = 570
print(my_number)

570

In [8]:
# Entero / int
print(my_number, type(my_number))

570 <class 'int'>

In [9]:
# Cadena / string
my_string = "hola mundo"
print(my_string, type(my_string))

hola mundo <class 'str'>

In [10]:
# Flotantes / float
my_float = 3.52
print(my_float, type(my_float))

3.52 <class 'float'>

In [11]:
# Boolean
my_boolean = True
print(my_boolean, type(my_boolean))

True <class 'bool'>

In [12]:
# Listas / list
my_list = [1, 2, 3, 4]
print(my_list, type(my_list))

[1, 2, 3, 4] <class 'list'>

In [13]:
# Tuplas / tuple
my_tuple = (1, 2, 3, 4)
print(my_tuple, type(my_tuple))

(1, 2, 3, 4) <class 'tuple'>

In [14]:
# Set
my_set = {1, 30, "python"}
print(my_set, type(my_set))

{'python', 1, 30} <class 'set'>

In [15]:
# Diccionario / dict
my_dict = {"a":20, "b":30, "c":10}
print(my_dict, type(my_dict))

{'a': 20, 'b': 30, 'c': 10} <class 'dict'>

## Función id()

### id() función para obtener la dirección de memoria

In [17]:
# Cadena / string
my_string = "hola mundo"
print(my_string, type(my_string), id(my_string))

hola mundo <class 'str'> 2187943866736

## Múltiples valores de entrada

In [23]:
my_number = input("Introduzca su número")
print("El número que introdujo es:", my_number)

Introduzca su número12
El número que introdujo es:  12

In [25]:
a, b, c, = input("Ingresa los 3 valores").split()
print("valor a =", a, "valor b =", b, "valor c =", c)

Ingresa los 3 valores12 32 54
valor a = 12 valor b = 32 valor c = 54

In [26]:
a, b, c, = input("Ingresa los 3 valores").split(",")
print("valor a =", a, "valor b =", b, "valor c =", c)

Ingresa los 3 valores15,32,55
valor a = 15 valor b = 32 valor c = 55