## Diferentes formas de crear listas

In [1]:
my_list = [3]*5
print(my_list)

[3, 3, 3, 3, 3]

In [2]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [5]:
my_list = []
for number in range(9):
    my_list.append(number)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
my_list = []
for number in range(9):
    my_list += [number]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
my_list = [number for number in range(9)]

print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

## Obtener Sublistas

In [9]:
my_list = [number for number in range(9)]

my_sublist  =my_list[:4]
print(my_sublist)

[0, 1, 2, 3]

In [10]:
my_sublist  =my_list[2:6]
print(my_sublist)

[2, 3, 4, 5]

In [11]:
my_sublist  =my_list[6:]
print(my_sublist)

[6, 7, 8]

In [12]:
len(my_list)

9

## Creacion de lists usando renge y numpy

In [14]:
# range (inicio, fin, paso)
my_list = [*range(1,5,1)]
print(my_list)

[1, 2, 3, 4]

In [15]:
# range (inicio, fin, paso)
my_list = [*range(1,23,2)]
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [17]:
import numpy as np
my_list = np.arange(1,22,2).tolist()
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

## Listas Anidadas

In [18]:
my_list = [1,2,3,4,5]


print(my_list[2])

3

In [20]:
my_list = [[1,2,3],[2,3,4],3,4,5]


print(my_list[1][2])

4

### Ordenando listas

In [21]:
my_list = [4,1,2,3,5]

print(my_list)

my_list.sort()

print(my_list)

[4, 1, 2, 3, 5]
[1, 2, 3, 4, 5]

In [22]:
my_list = [4,1,2,3,5]

print(my_list)

my_list.sort(reverse=True)

print(my_list)

[4, 1, 2, 3, 5]
[5, 4, 3, 2, 1]

In [24]:
my_list = ["hola", "abeja", "mantequilla", "taza"]

print(my_list)

my_list.sort()

print(my_list)

['hola', 'abeja', 'mantequilla', 'taza']
['abeja', 'hola', 'mantequilla', 'taza']

In [25]:
my_list = ["hola", "abeja", "mantequilla", "taza"]

print(my_list)

my_list.sort(reverse=True)

print(my_list)

['hola', 'abeja', 'mantequilla', 'taza']
['taza', 'mantequilla', 'hola', 'abeja']

## Conversion de listas

In [26]:
# Separar Palabras
my_string = "Curso de Backend en Python"
my_list = my_string.split()
print(my_string)
print(my_list)

Curso de Backend en Python
['Curso', 'de', 'Backend', 'en', 'Python']

In [27]:
# Separar caracteres
my_string = "Curso de Backend en Python"
my_list = list(my_string)
print(my_string)
print(my_list)

Curso de Backend en Python
['C', 'u', 'r', 's', 'o', ' ', 'd', 'e', ' ', 'B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'e', 'n', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [28]:
# Separar caracteres en una lista de listas
my_string = "Curso de Backend en Python"
my_list = list(map(list, my_string))
print(my_string)
print(my_list)

Curso de Backend en Python
[['C'], ['u'], ['r'], ['s'], ['o'], [' '], ['d'], ['e'], [' '], ['B'], ['a'], ['c'], ['k'], ['e'], ['n'], ['d'], [' '], ['e'], ['n'], [' '], ['P'], ['y'], ['t'], ['h'], ['o'], ['n']]

## De listas a cadenas

In [29]:
#Devolver los espacios
my_list = ['Curso', 'de', 'Backend', 'en', 'Python']

my_string = " ".join(my_list)

print(my_string)

Curso de Backend en Python

In [31]:
#Devolver formato
my_list = ['C', 'u', 'r', 's', 'o', ' ', 'd', 'e', ' ', 'B', 'a', 'c', 'k', 'e', 'n', 'd', ' ', 'e', 'n', ' ', 'P', 'y', 't', 'h', 'o', 'n']

my_string = "".join(my_list)

print(my_string)

Curso de Backend en Python

In [33]:
#Devolver formato
my_list = [['C'], ['u'], ['r'], ['s'], ['o'], [' '], ['d'], ['e'], [' '], ['B'], ['a'], ['c'], ['k'], ['e'], ['n'], ['d'], [' '], ['e'], ['n'], [' '], ['P'], ['y'], ['t'], ['h'], ['o'], ['n']]

my_string = "".join(["".join(element) for element in my_list])

print(my_string)

Curso de Backend en Python

## Creacion e listas con valores de entrada

In [36]:
my_string = input("Ingresa los valores separados por espacio")

my_list = my_string.split()

print(my_string)
print(my_list)

Ingresa los valores separados por espacio1 2 3 4 5 6
1 2 3 4 5 6
['1', '2', '3', '4', '5', '6']

# Metodos para manitpulacion de listas

## append
sirve para agregar elementos al finalde una lista

In [38]:
my_list = ["hola", "abeja", "mantequilla", "taza"]
print(my_list)
print(len(my_list))

['hola', 'abeja', 'mantequilla', 'taza']
4

In [39]:
my_list.append("gato")
print(my_list)
print(len(my_list))

['hola', 'abeja', 'mantequilla', 'taza', 'gato']
5

In [40]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
print(len(my_list))

[1, 2, 3, 4, 5]
5

In [41]:
my_list.append(3)
print(my_list)
print(len(my_list))

[1, 2, 3, 4, 5, 3]
6

## insert
Agrega un valor en una posicion especifica

In [42]:
my_list = ["hola", "abeja", "mantequilla", "taza"]
print(my_list)
print(len(my_list))

['hola', 'abeja', 'mantequilla', 'taza']
4

In [43]:
my_list.insert(2, "gato")
print(my_list)
print(len(my_list))

['hola', 'abeja', 'gato', 'mantequilla', 'taza']
5

In [44]:
my_list.insert(0, "")
print(my_list)
print(len(my_list))

['', 'hola', 'abeja', 'gato', 'mantequilla', 'taza']
6

## clear 
elimina todos elementos de la lista

In [45]:
my_list = ["hola", "abeja", "mantequilla", "taza"]
print(my_list)
print(len(my_list))

['hola', 'abeja', 'mantequilla', 'taza']
4

In [46]:
my_list.clear()
print(my_list)
print(len(my_list))

[]
0

## copy
copiar los elementos de una lista

In [47]:
my_list = ["hola", "abeja", "mantequilla", "taza"]
print(my_list)
print(len(my_list))

['hola', 'abeja', 'mantequilla', 'taza']
4

In [48]:
my_list_copy = my_list.copy()
print(my_list)
print(len(my_list))

print(my_list_copy)
print(len(my_list_copy))

['hola', 'abeja', 'mantequilla', 'taza']
4
['hola', 'abeja', 'mantequilla', 'taza']
4

## count
Cuenta cuantas veces aparece un elemento en una lista

In [49]:
my_list = [1,2,3,1,1,1,2,4,5,1,1]
print(my_list)

[1, 2, 3, 1, 1, 1, 2, 4, 5, 1, 1]

In [51]:
print("el numero 1 aparece {} veces en mi lista".format(my_list.count(1)))

el numero 1 aparece 6 veces en mi lista

## index
obtiene el primer inice que hace match con el elemento solicitado

In [53]:
my_list = [1,2,3,1,1,1,2,4,5,1,1]
print(my_list)

print("el numero 1 aparece el la posicion {}".format(my_list.index(5)))

[1, 2, 3, 1, 1, 1, 2, 4, 5, 1, 1]
el numero 1 aparece el la posicion 8

## extend 
conbinar dos listas

In [54]:
my_list = ["hola", "abeja", "mantequilla", "taza"]
print(my_list)
print(len(my_list))

['hola', 'abeja', 'mantequilla', 'taza']
4

In [60]:
my_list_2 = ["cabra", "caballo"]

my_list.extend(my_list_2)

print(my_list)
print(len(my_list))

['hola', 'abeja', 'mantequilla', 'taza', 'cabra', 'caballo']
6

## pop
Eliminar elemenos de una lista basado en los indices

In [63]:
#pop elimina el ultimo elemento por default
my_list = ["hola", "abeja", "mantequilla", "taza"]
print(my_list)
print(len(my_list))

my_list.pop(2)

print(my_list)
print(len(my_list))

['hola', 'abeja', 'mantequilla', 'taza']
4
['hola', 'abeja', 'taza']
3

## remove 
elimina la primera aparicion de un valor en una lista

In [65]:
my_list = ["hola", "abeja", "mantequilla", "taza"]
print(my_list)
print(len(my_list))

my_list.remove("abeja")

print(my_list)
print(len(my_list))

#si queremos eliminar un valor que no esta en la lista se arrojara un error]

['hola', 'abeja', 'mantequilla', 'taza']
4
['hola', 'mantequilla', 'taza']
3

## reverse
invierte el orden de una lista

In [66]:
my_list = ["hola", "abeja", "mantequilla", "taza"]
print(my_list)
print(len(my_list))

my_list.reverse()

print(my_list)
print(len(my_list))

['hola', 'abeja', 'mantequilla', 'taza']
4
['taza', 'mantequilla', 'abeja', 'hola']
4

## sort
Ordena los elementos de una lista

In [69]:
my_list = ["hola", "abeja", "mantequilla", "taza"]
print(my_list)
print(len(my_list))

my_list.sort()

print(my_list)
print(len(my_list))


my_list.sort(reverse=True)

print(my_list)
print(len(my_list))

['hola', 'abeja', 'mantequilla', 'taza']
4
['abeja', 'hola', 'mantequilla', 'taza']
4
['taza', 'mantequilla', 'hola', 'abeja']
4

## Obtener un elemeno aleatorio de una lista

In [70]:
import random

my_list = ["hola", "abeja", "mantequilla", "taza"]
print(random.choice(my_list))

hola