## Creando y Modificando sets

In [1]:
my_set = set()
my_set.add("python")

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
1
{'python'}

In [2]:
#listas []
#tuplas ()
#sets {}

In [4]:
my_set = set()
my_set.add("python")
my_set.update((164, "hola"))

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
3
{'python', 164, 'hola'}

In [5]:
my_set = set()
my_set.add("python")
my_set.update((164, "hola"))
my_set.add("python")
my_set.add("python")
my_set.add("python")

print(type(my_set))
print(len(my_set))
print(my_set)

<class 'set'>
3
{'python', 164, 'hola'}

## Metodos para manitpulacion de sets

### add
- agregar un elemento a un set

In [8]:
my_set = set()
my_set.add("python")
my_set.add(23)
my_set.add(25.62)

print(my_set)

{25.62, 'python', 23}

## clear 
- remueve todos los elementos del set

In [9]:
my_set = {1,325,64}
print(my_set)

my_set.clear()

print(my_set)

{64, 1, 325}
set()

## copy
- copia los elementos en nuevo set

In [11]:
my_set = {1,325,64}
my_set2 = my_set.copy()
print(my_set)
print(my_set2)

my_set.clear()

print(my_set)
print(my_set2)

{64, 1, 325}
{64, 1, 325}
set()
{64, 1, 325}

## difference
- Obtiene los valores presentes en el primer set y faltantes en el segundo set

In [12]:
set_a = {1,2,3,4,5,6}
set_b = {1,5,9,4,8,6}

# valores que hay en set_a faltantes en set_b
print(set_a.difference(set_b))
# valores que hay en set_b faltantes en set_a
print(set_b.difference(set_a))

{2, 3}
{8, 9}

## difference_update
-conserva solo los valores diferentes entre el set solicitado y el que esmandado como parametro.

In [18]:
set_a = {1,2,3,4,5,6,14}
set_b = {1,5,9,4,8,8,1}

# valores que hay en set_a faltantes en set_b
set_a.difference_update(set_b)
print(set_a)

# valores que hay en set_b faltantes en set_a
set_b.difference_update(set_a)
print(set_b)

{2, 3, 6, 14}
{1, 4, 5, 8, 9}

## discard
- ellimina un elemento del set si esta presente

In [20]:
my_set = {"Java", "Python", "Go", "Scala"}

print(my_set)

my_set.discard("Go")

print(my_set)

my_set.discard("Hello")

print(my_set)

# No importa si no esta presente el elemento en el set

{'Scala', 'Java', 'Python', 'Go'}
{'Scala', 'Java', 'Python'}
{'Scala', 'Java', 'Python'}

## Intersection
- Obtiene los valores en comunb en 2 sets

In [24]:
set_a = {1,2,3,4,5,6,14}
set_b = {1,5,9,4,8,8,1}

print(set_b.intersection(set_a))

{1, 4, 5}

## itersection_update
- obtiene los valores en comun en dos sets y los asigna al set que manda a llamar  el metodo

In [25]:
set_a = {1,2,3,4,5,6,14}
set_b = {1,5,9,4,8,8,1}
set_b.intersection_update(set_a)
print(set_b)

{1, 4, 5}

## isdisjoint
- True si no hay valores compartidos por ambos sets
- False si hay valores compartidos

In [28]:
set_a = {1,2,3,4,5,6,14}
set_b = {1,5,9,4,8,8,1}

print(set_b.isdisjoint(set_a))

False

In [29]:
set_a = {1,2,3,4,5,6,14}
set_b = {15,48}

print(set_b.isdisjoint(set_a))

True

## issubset
- Verifica si podemos encontrar todos los elementos de un set en otro

In [30]:
set_a = {1,2,3,4,5,6,14}
set_b = {15,48}

print(set_b.issubset(set_a))

False

In [31]:
set_a = {1,2,3,4,5,6,14}
set_b = {1,3}

print(set_b.issubset(set_a))

True

## issuperset
- Analiza si podemos encontrar los elementos de l llamado esten en el set pasado

In [34]:
set_a = {1,2,3,4,5,6,14}
set_b = {15,48}

print(set_b.issuperset(set_a))

False

In [35]:
set_a = {1,2,3,4,5,6,14}
set_b = {1,3}

print(set_b.issuperset(set_a))

False

## pop
- Elimina el primer elemento del set

In [37]:
set_a = {1,2,3,4,5,6,14}
print(set_a)

set_a.pop()
set_a.pop()
set_a.pop()

print(set_a)

set_a.pop()
set_a.pop()

print(set_a)

{1, 2, 3, 4, 5, 6, 14}
{4, 5, 6, 14}
{6, 14}

## remove
- elimina el elemento dado como parametro; debe estar presente en el set o mandará error

In [38]:
set_a = {1,2,3,4,5,6,14}
print(set_a)

set_a.remove(4)


print(set_a)

{1, 2, 3, 4, 5, 6, 14}
{1, 2, 3, 5, 6, 14}

In [39]:
set_a = {1,2,3,4,5,6,14}
print(set_a)

set_a.remove(35)


print(set_a)

{1, 2, 3, 4, 5, 6, 14}

KeyError: 35

## union
- Combina dos sets

In [40]:
set_a = {1,2,3,4,5,6,14}
set_b = {15,48}


set_c = set_b.union(set_a)
print(set_c)

{1, 2, 3, 4, 5, 6, 14, 15, 48}

## update
añade los valores actualizandolo

In [42]:
set_a = {1,2,3,4,5,6,14}
set_b = {15,48}


set_b.update(set_a)
print(set_b)

{1, 2, 3, 4, 5, 6, 14, 15, 48}

## symmetric_difference
- obtiene las diferencias en ambos sets

In [44]:
set_a = {1,2,3,4,5,6}
set_b = {1,5,9,4,8,6}


print(set_a.symmetric_difference(set_b))

print(set_b.symmetric_difference(set_a))

{2, 3, 8, 9}
{2, 3, 8, 9}

## symmetric_differece_update
- llama las diferencias y asigna el resultado a la variable

In [46]:
set_a = {1,2,3,4,5,6}
set_b = {1,5,9,4,8,6}

set_a.symmetric_difference_update(set_b)
print(set_a)

{2, 3, 8, 9}

## conversión de sets

#### Cadena a set

In [49]:
my_string = "Python"
my_set = set(my_string)

print(my_set)

{'o', 'y', 'P', 'n', 't', 'h'}

#### Lista a set

In [50]:
my_list = ["Python", 1, 5]
my_set = set(my_list)

print(my_set)

{1, 'Python', 5}

#### Tupla a Set

In [51]:
my_tuple = ("Python", 1, 5)
my_set = set(my_tuple)

print(my_set)

{1, 'Python', 5}

####  Set  a Cadena

In [54]:
my_set = {"b", "a", "c", "k", "e", "n", "d"}
my_string = "".join(my_set)

print(my_string)

ncebdka

#### Set a lista

In [55]:
my_set = {"Python", 1, 5}
my_list = list(my_set)


print(my_list)

[1, 'Python', 5]

#### Set a Tupla

In [56]:
my_set = {"Python", 1, 5}
my_tuple = tuple(my_set)

print(my_tuple)

(1, 'Python', 5)